
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/images/background.jpg'); 
  background-color: #ff8000; 
  background-attachment: fixed;
  color: #ffffff; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin-top: 30px;
}

.employee-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.employee-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color:  #ff8000bb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.employee-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #ffffff;
}

.qualification-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.qualification-buttons button {
  flex: 1;
  padding: 8px;
  font-size: 12px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.qualification-buttons button:hover {
  background-color: #0056b3;
}

.edit-button,
.delete-button {
  padding: 8px 12px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-button {
  background-color: #ffc107;
}

.edit-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
}

.delete-button {
  background-color: #ff0000;
}

.delete-button:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}


.update-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.update-form h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-field input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}
